<template id="yi-pet-chat-window-template">
    <div>
        <div
            class="yi-pet-chat-header"
            ref="headerEl"
            title="拖拽移动窗口 | 双击全屏"
            style="position: relative"
        >
            <ChatHeader :uiTick="uiTick" />
        </div>

        <div class="yi-pet-chat-content-container">
            <div class="session-sidebar" ref="sidebarEl">
                <SessionSidebar :uiTick="uiTick" />
            </div>
            <div class="yi-pet-chat-right-panel" ref="mainEl" aria-label="会话聊天面板">
                <div
                    id="yi-pet-chat-messages"
                    ref="messagesEl"
                    class="yi-pet-chat-messages"
                    role="log"
                    aria-live="polite"
                ></div>
                <ChatInput :uiTick="uiTick" />
            </div>
        </div>
    </div>
</template>
